<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Employee Management System</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous"> 

    </head>
    <body style="background-color: #E3E7E6">
        <div class="container">
            
            <h1 style="font-family: Times New Roman, serif">Employee Management System</h1>
            <hr>
            <h2 style="font-family: Times New Roman, serif">Emergency Contact</h2>
            
            <form action="#" th:action="@{/emergencyContact}" th:object="${contact}" method="POST">
                <input type="text" th:field="*{employeeName}" placeholder="Enter employee name" class="form-control mb-4 col-4" style="font-family: Times New Roman, serif" required autofocus />
                
                <input type="text" th:field="*{nextOfKin}" placeholder="Enter next of Kin's name" class="form-control mb-4 col-4" style="font-family: Times New Roman, serif" required />
                
                <input type="text" th:field="*{phoneNumber}" placeholder="Enter next of Kin's phone number" class="form-control mb-4 col-4" style="font-family: Times New Roman, serif" required />
                
                <input type="text" th:field="*{address}" placeholder="Enter next of Kin's address " class="form-control mb-4 col-4" style="font-family: Times New Roman, serif" required />
                
                <button type="submit" class="btn btn-info col-2" style="font-family: Times New Roman, serif">Update Details</button>
            </form>
            
            <hr>
            <a th:href="@{/}" style="font-family: Times New Roman, serif">Back to Employees List</a>
            
        </div>
    </body>
</html>
