<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title style="font-family: Times New Roman, serif">Employee Management System</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous"> 

    </head>
    <body style="background-color: #E3E7E6">
        <div class="container my-2">

            <h1 style="font-family: Times New Roman, serif">Employees List</h1> 
            <a th:href="@{/showNewEmployeeForm}" class="btn btn-primary btn-sm mb-3"> Add Employee </a>
            
            <table style="border-color: #FCFAFA" border="1" class="table table-hover table-responsive-md">
                <thead> 
                    <tr>
                        <th style="font-family: Times New Roman, serif"> Employee First Name</th> 
                        <th style="font-family: Times New Roman, serif"> Employee Last Name</th>
                        <th style="font-family: Times New Roman, serif"> Employee Email</th>
                        <th style="font-family: Times New Roman, serif"> Actions </th>
                    </tr> 
                </thead>
                <tbody>
                    <tr th:each="employee : ${listEmployees}">
                        <td th:text="${employee.firstName}" style="font-family: Times New Roman, serif"></td>
                        <td th:text="${employee.lastName}" style="font-family: Times New Roman, serif"></td>
                        <td th:text="${employee.email}" style="font-family: Times New Roman, serif"></td>
                        <td><a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}" class="btn btn-primary" style="font-family: Times New Roman, serif">Update</a>
                            <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}" class="btn btn-danger" style="font-family: Times New Roman, serif">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" style="font-family: Times New Roman, serif"> Logout </a></li>
            </ul>
            
        </div>
    </body>
</html>
